<% include ./particles/header %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome To FlatMate</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">New Mate</a>
          </div>
        <div class="totalexp">
            <div class="name ">
                Total Expense
            </div>  
            <div class="rupess ">
                <p>45000</p>
            </div>
            
            </div>
        <div class="heading">
                    Add Expense
            </div>
        <div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Expense Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Amount</label>
                  <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Amount">
                </div>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Expense By
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Person 1</a>
                      <a class="dropdown-item" href="#">Person 2</a>
                      <a class="dropdown-item" href="#">Person 3</a>
                    </div>
                  </div>
                <button type="submit" class="btn btn-primary btn-right">Add</button>
              </form>
            </div>
    </div>

    <% include ./particles/footer %>