<%include ./particles/header %>
<div class="top">

</div>
    <div class="container">
           
           

        <div class="login">
                <% if(error && error.length >0){ %>
                    <div class="alert alert-danger" role="alert">
                            <%=error%> 
                           </div>
                <%}%>
            <form action="/user/login" method="POST">
                <div class="form-group">
                        <label for="">Email</label>
                        <input type="text" class="form-control emailinput" name="email" id="">  
                </div>
                <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" id="">
                </div>
                <div>
                    <a href="/forget">Forget Password</a>
                </div>
                <div>
                    <a href="/user/signup">New User? <span class="regsiter">Register Here</span> </a>
                </div>
                <button type="submit" class="btn-signup btn btn-outline-success">Login</button>
            </form>
            <div class="clearfix">

            </div>
            <div class="auth-heading">
                Login or Register Using 
            </div>
            <div class="btn-auth">
                <a  href="/auth/facebook">
                <button class="btn-facebook"><i class="fab fa-facebook-f"></i>Facebook</button>
                </a><br>
                <a href="/auth/google"><button class="btn-gmail"><i class="far fa-envelope"></i>Gmail</button></a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Design and Developed By <a href="https://cyberne7work.github.io/portfolio/"><span>VISHAL</span></a></p>
      </div>
<%include ./particles/footer %>
