.totalexp{
    background: #e74c3c;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    line-height: 1;

}
.name{
    float: left;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.rupess{
    float: right;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.btn-right{
    float: right;
}
.heading{
    background: #bdc3c7;
    color: #2c3e50;
    padding: 1rem;
    line-height: 1;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 10px 0px;

}
.clearfix{
    clear: both;
}

/* My expense page */
.exp-heading{
    background: #bdc3c7;
    color: #2c3e50;
    padding: 1rem;
    line-height: 1;
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 10px 0px;
}
.exp-heading .exp-heading-form{
    float: right;
}
.btn-submit{
    background: green;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}


/* Global */
.user{
    color: #f1c40f;
}
.user-heading{
    color: #27ae60;
    text-transform: uppercase;
}
.opt-user{
    text-transform: uppercase;
}
.right-ele{
    float: right;
}