<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>FlatMate</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><i class="fas fa-home"></i>FlatMate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <%if(currentUser){%>
            <li class="nav-item">
              <a class="nav-link" href="/mate/info">Mate's Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/flat/update">Update Info</a>
            </li>
            <%}%>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <%if(currentUser){%>
            <form class="form-inline my-2 my-lg-0" action="/user/logout" method="POST">
              <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </form>
          <%}else{%>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/user/signup"><button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-user-plus"></i>SignUp</button></a></li>
            </ul>
          <%}%>
        </div>
      </nav>